<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="admin-section">
      <div class="admin-card">
        <h2 class="admin-title">🛒 Checkout Pesanan</h2>

        <div id="checkout-summary" class="checkout-summary">
          <h3>📦 Ringkasan Pesanan</h3>

          <div id="summary-items"></div>
          <hr />
          <p>
            <strong>Total Item:</strong>
            <span id="total-item">0</span>
          </p>

          <p>
            <strong>Total Bayar:</strong>
            Rp <span id="total-harga">0</span>
          </p>
        </div>

        <form
          action="/checkout"
          method="POST"
          id="checkoutForm"
          class="admin-form"
        >
          <label>Nama Pemesan</label>

          <input
            type="text"
            id="nama"
            name="nama_pembeli"
            placeholder="Masukkan nama pemesan"
            required
          />

          <label>No HP</label>

          <input
            type="tel"
            id="nohp"
            name="no_hp"
            placeholder="Masukkan nomor HP"
            pattern="[0-9]{10,15}"
            required
          />

          <label>Alamat</label>

          <textarea
            id="alamat"
            name="alamat"
            placeholder="Masukkan alamat lengkap"
            required
          ></textarea>

          <input type="hidden" name="cart" id="cartData" />

          <button type="submit" class="btn-primary">Pesan Sekarang!</button>
        </form>
      </div>
    </div>

    <script>
      document
        .getElementById("checkoutForm")
        .addEventListener("submit", function () {
          const cart = localStorage.getItem("cart");

          document.getElementById("cartData").value = cart;
        });
    </script>

    <script>
      const cart = JSON.parse(localStorage.getItem("cart")) || [];

      const summaryItems = document.getElementById("summary-items");

      let totalItem = 0;
      let totalHarga = 0;

      cart.forEach((item) => {
        totalItem += item.qty;

        const harga = Number(item.price.replace(/[^0-9]/g, ""));

        totalHarga += harga * item.qty;

        summaryItems.innerHTML += `
          <div class="checkout-item">
            <span>${item.title}</span>
            <span>x ${item.qty}</span>
          </div>
        `;
      });

      document.getElementById("total-item").innerText = totalItem;

      document.getElementById("total-harga").innerText =
        totalHarga.toLocaleString("id-ID");
    </script>
  </body>
</html>
