<!DOCTYPE html>
<html>
  <head>
    <title>Edit Kategori</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="admin-card">
      <h2 class="admin-title">✏ Edit Kategori</h2>

      <form
        action="/kategori/edit/<%= kategori.id %>"
        method="POST"
        class="admin-form"
      >
        <label>Nama Kategori</label>

        <input
          type="text"
          name="nama_kategori"
          value="<%= kategori.nama_kategori %>"
          required
        />

        <div class="form-actions">
          <a href="/kategori" class="btn-kembali"> ← Kembali </a>

          <button type="submit" class="btn-primary">Update Kategori</button>
        </div>
      </form>
    </div>
  </body>
</html>
